#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
    filter: brightness(0.2);
  }

 
body{ 
    background-color: rgb(107, 160, 27,0.7);
    background-size: cover;
    background-position: center;
    color: rgb(255,250,255);
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

 #title{
    flex-direction: column;
    line-height: 10px;
}

a{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

a:hover {
    color: rgb(255, 255, 255);
    transition: 0.3s all;
}

#Conta-btn{
    border: 2px solid rgb(126, 241, 60); 
    padding: 10px;
    border-radius: 20px;
}

#Conta-btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(20, 51, 2);

}


li{
    display: inline-block;
    margin: 20px;
}

h1{
    font-weight: 200;
    

}

.container img{
    filter: invert(31%) sepia(100%) saturate(500%) hue-rotate(90deg);

  width: 75px;
  height: auto ;
  margin-left: -200px;
}
main{
    display: flex;
    flex-direction: row;
}

h2{
    font-size: 45px;
    line-height: 45px;
    

    font-family: poppinsmedium;
}


#span1 {
    color: rgb(53, 124, 11)
}


#span2 {
    color: rgb(126, 241, 60);    
    font-weight: bold;

}

img {
    max-width: 570px;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinsmedium;
    font-weight: bold;
   
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}


input[type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(126, 241, 60); 
    color: white;
    font-weight: bold;
}
input[type="submit"]:hover{
   cursor: pointer;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
};